* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
}

header {
  width: 100%;
  height: 102px;
}
header .container {
  max-width: 1360px;
  margin: 0 auto;
}
header .container .left-right {
  height: 102px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .container .left-right .left .line {
  position: absolute;
  left: 553px;
  top: 47px;
  width: 32px;
  height: 0px;
  border: 2px solid rgba(11, 6, 20, 0.3);
  transform: rotate(90deg);
}
header .container .left-right .left .search {
  position: absolute;
  left: 620px;
  top: 42px;
  color: rgba(11, 6, 20, 0.3);
}
header .container .left-right .left img {
  font-size: 28px;
}
header .container .left-right .left i {
  position: absolute;
  left: 588px;
  top: 42px;
}
header .container .left-right .right ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .container .left-right .right ul .Sign {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  gap: 10px;
  width: 126px;
  height: 62px;
  background: #FF5029;
  border-radius: 12px;
}
header .container .left-right .right ul .Sign a {
  width: 66px;
  height: 22px;
  font-family: "Mont";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  /* identical to box height */
  color: #FFFFFF;
  text-align: center;
}
header .container .left-right .right ul li {
  margin-left: 40px;
  width: 68px;
  height: 20px;
  font-family: "Mont";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #0B0614;
  opacity: 0.8;
  /* Inside auto layout */
  flex: none;
  order: 3;
  flex-grow: 0;
}
header .container .left-right .right ul li a {
  color: #0B0614;
}

.class {
  width: 100%;
  height: 850px;
}
.class .introduction {
  width: 100%;
  background: url(../images/svg/pexels-taryn-elliott-3889907\ 2.png) no-repeat;
  position: absolute;
  width: 1360px;
  height: 800px;
  left: 255px;
}
.class .introduction .container {
  max-width: 1500px;
  margin: 0 auto;
}
.class .introduction .container .part {
  width: 1240px;
  height: 128px;
  position: absolute;
  bottom: -3px;
  left: 55px;
  border: 2px solid white;
  border-radius: 24px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.class .introduction .container .part ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.class .introduction .container .part ul li {
  margin-right: 50px;
}
.class .introduction .container .part ul li h3 {
  margin-bottom: 8.5px;
  font-family: "Mont";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* Text */
  color: #0B0614;
  opacity: 0.5;
}
.class .introduction .container .part ul li h4 {
  font-family: "Mont";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* Text */
  color: #0B0614;
  opacity: 0.5;
}
.class .introduction .container .part ul .Sign {
  width: 135px;
  height: 80px;
  background: #FF5029;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.class .introduction .container .part ul .Sign a {
  font-family: "Mont";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height */
  color: #FFFFFF;
}

.guides {
  width: 100%;
  height: 750px;
}
.guides .container {
  max-width: 1360px;
  margin: 0 auto;
}
.guides .container .guide-two {
  width: 1260px;
  height: 250px;
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}
.guides .container .guide-two .head h3 {
  margin-left: 40px;
  width: 488px;
  height: 70px;
  font-family: "Mont";
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 70px;
  /* identical to box height, or 109% */
  color: #0B0614;
}
.guides .container .guide-two .but {
  padding: 20px 46px;
  gap: 10px;
  width: 209px;
  height: 70px;
  background: #FF5029;
  border-radius: 12px;
}
.guides .container .guide-two .but a {
  width: 129px;
  height: 30px;
  font-family: "Mont";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
}
.guides .container .card-box {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.guides .container .card-box .card {
  position: relative;
  width: 288px;
  height: 396px;
  background: #FF5029;
  border-radius: 20px;
}
.guides .container .card-box .card .sekil1 {
  width: 205px;
  height: 205px;
  border-radius: 50%;
  position: absolute;
  left: 40px;
  top: 27px;
}
.guides .container .card-box .card h3 {
  width: 190px;
  height: 32px;
  position: absolute;
  bottom: 100px;
  left: 57px;
  font-family: "Mont";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}
.guides .container .card-box .card .vector1 {
  position: absolute;
  bottom: 70px;
  left: 82px;
}
.guides .container .card-box .card .vector2 {
  position: absolute;
  bottom: 70px;
  left: 108px;
}
.guides .container .card-box .card .vector3 {
  position: absolute;
  bottom: 70px;
  left: 134px;
}
.guides .container .card-box .card .vector4 {
  position: absolute;
  bottom: 70px;
  left: 160px;
}
.guides .container .card-box .card .vector5 {
  position: absolute;
  bottom: 70px;
  left: 186px;
}
.guides .container .card-box .card p {
  width: 109px;
  height: 22px;
  position: absolute;
  bottom: 30px;
  left: 88px;
  font-family: "Mont";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}
.guides .container .card-box .card1 {
  width: 288px;
  height: 396px;
  position: relative;
  background: #fff;
  border-radius: 20px;
}
.guides .container .card-box .card1 .sekil2 {
  width: 205px;
  height: 205px;
  border-radius: 50%;
}
.guides .container .card-box .card1 h3 {
  width: 180px;
  height: 32px;
  font-family: "Mont";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  position: absolute;
  bottom: 100px;
  left: 20px;
}
.guides .container .card-box .card1 .sector1 {
  position: absolute;
  bottom: 70px;
  left: 58px;
}
.guides .container .card-box .card1 .sector2 {
  position: absolute;
  bottom: 70px;
  left: 80px;
}
.guides .container .card-box .card1 .sector3 {
  position: absolute;
  bottom: 70px;
  left: 102px;
}
.guides .container .card-box .card1 .sector4 {
  position: absolute;
  bottom: 70px;
  left: 124px;
}
.guides .container .card-box .card1 .sector5 {
  position: absolute;
  bottom: 70px;
  left: 148px;
}
.guides .container .card-box .card1 p {
  width: 109px;
  height: 22px;
  font-family: "Mont";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: rgba(11, 6, 20, 0.6);
  position: absolute;
  bottom: 30px;
  left: 60px;
}

.work {
  width: 100%;
  height: 695px;
}
.work .container {
  max-width: 1170px;
  margin: 0 auto;
}
.work .container .content {
  height: 70px;
  width: 295px;
  left: 453px;
  top: 1872px;
  border-radius: nullpx;
}
.work .container .content h2 {
  position: absolute;
  width: 595px;
  height: 70px;
  left: 673px;
  top: 1872px;
  font-family: "Mont";
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 70px;
  color: #0B0614;
  margin-top: 30px;
}
.work .container .images {
  width: 100%;
  height: 596px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  margin-top: 170px;
}
.work .container .images .group22 {
  background: #FEF4F5;
  border-radius: 20px;
  width: 353px;
  height: 590px;
}
.work .container .images .group22 img {
  margin: 80px;
}
.work .container .images .group22 h4 {
  font-family: "Mont";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  width: 182px;
  height: 100px;
  text-align: center;
  color: #0B0614;
  margin-left: 80px;
}
.work .container .images .group24 {
  background: #FEF4F5;
}
.work .container .images .group24 img {
  margin: 90px;
}
.work .container .images .group24 h4 {
  width: 353x;
  height: 100px;
  font-family: "Mont";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  /* or 125% */
  text-align: center;
  color: #0B0614;
}

.pramida {
  width: 100%;
  height: 900px;
  margin-top: 300px;
  position: relative;
}
.pramida .container {
  max-width: 1360px;
  margin: 0 auto;
}
.pramida .container .misir {
  width: 100%;
  position: relative;
}
.pramida .container .misir img {
  position: absolute;
  width: 100%;
  z-index: 1;
  border-radius: 50px;
}
.pramida .container .misir h1 {
  position: absolute;
  top: 158px;
  left: 172px;
  width: 939px;
  height: 240px;
  font-family: "Mont";
  font-style: normal;
  font-weight: 800;
  font-size: 110px;
  line-height: 120px;
  text-align: center;
  color: #0B0614;
}
.pramida .container .referance {
  width: 1240px;
  height: 227px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 50px;
  left: 329px;
  z-index: 5;
  border-radius: 15px;
}
.pramida .container .referance .sol {
  width: 572px;
  height: 108px;
  margin-left: 40px;
}
.pramida .container .referance .sol h3 {
  font-family: "Mont";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  /* or 135% */
  color: #0B0614;
}
.pramida .container .referance .sol h4 {
  margin-top: 20px;
  color: #FF5029;
  font-family: "Mont";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
}
.pramida .container .referance .sag {
  margin-right: 40px;
}
.pramida .container .referance .sag a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  gap: 10px;
  width: 260px;
  height: 70px;
  background: #FF5029;
  border-radius: 12px;
}
.pramida .container .referance .sag a p {
  width: 180px;
  height: 30px;
  font-family: "Mont";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height, or 167% */
  color: #FFFFFF;
}
.pramida .container .referance .sag img {
  margin-top: 29px;
}

.learn {
  width: 100%;
  height: 900px;
  margin-top: 100px;
}
.learn .container {
  max-width: 1360px;
  margin: 0 auto;
}
.learn .container .learn-content {
  width: 783px;
  height: 70px;
  position: absolute;
  left: 550px;
}
.learn .container .learn-content h2 {
  font-family: "Mont";
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 70px;
  color: #0B0614;
}
.learn .container .umumi-hotel {
  width: 1240px;
  height: 807px;
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
}
.learn .container .umumi-hotel .hotel-sol {
  margin-top: 150px;
}
.learn .container .umumi-hotel .hotel-sol img {
  border-radius: 15px;
}
.learn .container .umumi-hotel .hotel-sol p {
  width: 65px;
  height: 31px;
  font-family: "Mont";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #FF5029;
  margin-top: 38px;
}
.learn .container .umumi-hotel .hotel-sol h4 {
  width: 354px;
  height: 104px;
  font-family: "Mont";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  /* or 130% */
  margin-top: 24px;
  color: #0B0614;
}
.learn .container .umumi-hotel .hotel-sag {
  margin-top: 150px;
}
.learn .container .umumi-hotel .hotel-sag .hotel-sagyuxari {
  position: relative;
  width: 425px;
  height: 303px;
}
.learn .container .umumi-hotel .hotel-sag .hotel-sagyuxari img {
  border-radius: 15px;
  width: 182px;
  height: 283px;
}
.learn .container .umumi-hotel .hotel-sag .hotel-sagyuxari h4 {
  position: absolute;
  left: 210px;
  top: 75px;
  width: 136px;
  height: 31px;
  font-family: "Mont";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  /* identical to box height */
  /* Accent */
  color: #FF5029;
}
.learn .container .umumi-hotel .hotel-sag .hotel-sagyuxari h3 {
  width: 324px;
  height: 104px;
  font-family: "Mont";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  /* or 130% */
  color: #0B0614;
  position: absolute;
  top: 125px;
  left: 210px;
}
.learn .container .umumi-hotel .hotel-sag .hotel-sagasagi {
  position: relative;
  margin-top: 31px;
  width: 480px;
  height: 423px;
}
.learn .container .umumi-hotel .hotel-sag .hotel-sagasagi img {
  border-radius: 15px;
}
.learn .container .umumi-hotel .hotel-sag .hotel-sagasagi h4 {
  width: 172px;
  height: 31px;
  font-family: "Mont";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  /* identical to box height */
  /* Accent */
  color: #FF5029;
  position: absolute;
  left: 210px;
  top: 40px;
}
.learn .container .umumi-hotel .hotel-sag .hotel-sagasagi h3 {
  font-family: "Mont";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  /* or 130% */
  color: #0B0614;
  position: absolute;
  top: 115px;
  left: 210px;
}

footer {
  width: 100%;
  height: 800px;
  background-color: #0B0614;
}
footer .container {
  max-width: 1360px;
  margin: 0 auto;
}
footer .container .umumi-egypt {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}
footer .container .umumi-egypt .EgyptTour h2 {
  position: absolute;
  top: 150px;
  width: 185px;
  height: 40px;
  font-family: "Mont";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 40px;
  /* identical to box height, or 111% */
  color: #FFFFFF;
}
footer .container .umumi-egypt .EgyptTour p {
  margin-top: 12px;
  position: absolute;
  top: 200px;
  width: 333px;
  height: 140px;
  font-family: "Mont";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
}
footer .container .umumi-egypt .EgyptTour-2 ul {
  position: absolute;
  top: 150px;
}
footer .container .umumi-egypt .EgyptTour-2 li {
  margin-top: 12px;
  width: 50px;
  height: 28px;
  font-family: "Mont";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */
  color: rgba(255, 255, 255, 0.8);
}
footer .container .umumi-egypt .EgyptTour-2 li h3 {
  width: 120px;
  height: 28px;
  font-family: "Mont";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 140% */
  color: #FFFFFF;
}
footer .container .umumi-egypt .EgyptTour-3 ul {
  position: absolute;
  top: 150px;
}
footer .container .umumi-egypt .EgyptTour-3 li {
  margin-top: 20px;
  width: 50px;
  height: 28px;
  font-family: "Mont";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */
  color: rgba(255, 255, 255, 0.8);
}
footer .container .umumi-egypt .EgyptTour-3 li h3 {
  width: 120px;
  height: 28px;
  font-family: "Mont";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 140% */
  color: #FFFFFF;
}
footer .container .umumi-egypt .icon {
  margin-right: 100px;
  position: relative;
}
footer .container .umumi-egypt .icon h2 {
  font-family: "Mont";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 140% */
  width: 115px;
  height: 28px;
  color: #FFFFFF;
  position: absolute;
  top: 160px;
}
footer .container .umumi-egypt .icon .mesaj {
  position: absolute;
  top: 235px;
}
footer .container .umumi-egypt .icon .Infor {
  width: 168px;
  height: 28px;
  font-family: "Mont";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */
  color: #FFFFFF;
  position: absolute;
  top: 229px;
  right: -200px;
}
footer .container .umumi-egypt .icon .yer {
  position: absolute;
  top: 30 0px;
}
footer .container .umumi-egypt .icon .Street {
  width: 171px;
  height: 28px;
  font-family: "Mont";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */
  position: absolute;
  top: 289px;
  right: -200px;
  color: #FFFFFF;
}/*# sourceMappingURL=style.css.map */